version: '3.1'

services:

  db:
    image: 'mysql:8'
    restart: always
    volumes:
    - ./mysqldbconfig:/etc/mysql/conf.d
    - ./mysqldbdata:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 'P@ssw0rd'
      MYSQL_DATABASE: 'db_example'
    ports:
    - 3306:3306

#volumes:
#  mysqldbconfig:
#  mysqldbdata:

networks:
  sb-network:
    driver: bridge